@font-face {
  font-family: nt-dapper;
  font-style: normal;
  font-weight: 400;
  src: url(https://webkid.io/fonts/NTDapper-regular.woff2) format("woff2"),
    url(https://webkid.io/fonts/NTDapper-regular.woff) format("woff"),
    url(https://webkid.io/fonts/NTDapper-regular.eot);
}
@font-face {
  font-family: nt-dapper;
  font-style: normal;
  font-weight: 700;
  src: url(https://webkid.io/fonts/NTDapper-bold.woff2) format("woff2"),
    url(https://webkid.io/fonts/NTDapper-bold.woff) format("woff"),
    url(https://webkid.io/fonts/NTDapper-bold.eot);
}
@font-face {
  font-family: nt-dapper;
  font-style: normal;
  font-weight: 900;
  src: url(https://webkid.io/fonts/NTDapper-black.woff2) format("woff2"),
    url(https://webkid.io/fonts/NTDapper-black.woff) format("woff"),
    url(https://webkid.io/fonts/NTDapper-black.eot);
}
@font-face {
  font-family: jetbrains-mono;
  font-style: normal;
  font-weight: 400;
  src: url(/static/JetBrainsMono-Regular-b60380891bcf2eb241caa7025ced74f7.woff2)
      format("woff2"),
    url(/static/JetBrainsMono-Regular-f52bee61d00ce995b89f46aecd746549.woff)
      format("woff"),
    url(/static/JetBrainsMono-Regular-70f3bb238a614ce19f0cbcc3b4028fae.eot);
}
.noscroll {
  height: 100vh;
  overflow: hidden;
  position: fixed;
  width: 100%;
}
.react-flow {
  font-family: jetbrains-mono;
  text-transform: uppercase;
}
.react-flow .react-flow__node {
  font-size: 14px;
}
.react-flow__controls-button {
  height: 16px;
  width: 16px;
}
.react-flow__node-zoom {
  background: #fff;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 12px;
  line-height: 1.2;
  padding: 10px;
  text-align: center;
  width: 150px;
}
.react-flow__node-zoom img {
  pointer-events: none;
}
.placeholder div {
  background: #eee;
  height: 10px;
  margin-bottom: 4px;
  width: 100%;
}
.placeholder div:last-child {
  margin-bottom: 0;
}
.react-flow__node-selectorNode {
  background: #eee;
  border: 1px solid #555;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}
.dndflow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.dndflow aside {
  background: #fcfcfc;
  border-right: 1px solid #eee;
  font-size: 12px;
  padding: 15px 10px;
}
.dndflow .dndnode,
.dndflow aside .description {
  margin-bottom: 10px;
}
.dndflow .dndnode {
  align-items: center;
  border: 1px solid #1a192b;
  border-radius: 2px;
  cursor: grab;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 4px;
}
.dndflow .dndnode.input {
  border-color: #0041d0;
}
.dndflow .dndnode.output {
  border-color: #ff0072;
}
.dndflow .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}
.dndflow .selectall {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .dndflow {
    flex-direction: row;
  }
  .dndflow aside {
    max-width: 250px;
    width: 20%;
  }
}
.edgebutton {
  background: #eee;
  border: 1px solid #fff;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  height: 20px;
  line-height: 1;
  width: 20px;
}
.edgebutton:hover {
  box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.08);
}
.edgebutton-foreignobject body {
  align-items: center;
  background: transparent;
  display: flex;
  height: 40px;
  justify-content: center;
  min-height: 40px;
  width: 40px;
}
.floatingedges {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.floatingedges .react-flow__handle {
  opacity: 0;
}
.layoutflow {
  flex-grow: 1;
  position: relative;
}
.layoutflow .controls {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.layoutflow .controls button:first-child {
  margin-right: 10px;
}
.providerflow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.providerflow aside {
  background: #fff;
  border-left: 1px solid #eee;
  font-size: 12px;
  padding: 15px 10px;
}
.providerflow aside .description {
  margin-bottom: 10px;
}
.providerflow aside .title {
  font-weight: 700;
  margin-bottom: 5px;
}
.providerflow aside .transform {
  margin-bottom: 20px;
}
.providerflow .reactflow-wrapper {
  flex-grow: 1;
}
.providerflow .selectall {
  margin-top: 10px;
}
@media screen and (min-width: 768px) {
  .providerflow {
    flex-direction: row;
  }
  .providerflow aside {
    max-width: 250px;
    width: 20%;
  }
}
.save__controls {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
}
.save__controls button {
  margin-left: 5px;
}
.transition {
  flex-grow: 1;
  position: relative;
}
.transition .controls {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 10;
}
.transition .controls button + button {
  margin-left: 10px;
}
.updatenode__controls {
  font-size: 12px;
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
}
.updatenode__controls label {
  display: block;
}
.updatenode__bglabel {
  margin-top: 10px;
}
.updatenode__checkboxwrapper {
  align-items: center;
  display: flex;
  margin-top: 10px;
}
.validationflow .react-flow__node {
  border: 1px solid #ddd;
  border-radius: 5px;
  color: #555;
  font-size: 12px;
  padding: 10px;
  text-align: center;
  width: 150px;
}
.validationflow .react-flow__node-customnode {
  background: #e6e6e9;
  border: 1px solid #ddd;
}
.react-flow__node-custominput .react-flow__handle {
  background: #e6e6e9;
}
.validationflow .react-flow__node-custominput {
  background: #fff;
}
.validationflow .react-flow__handle-connecting {
  background: #ff6060;
}
.validationflow .react-flow__handle-valid {
  background: #5d9;
}
.zoompanflow {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.zoompanflow aside {
  background: #fff;
  border-left: 1px solid #eee;
  font-size: 12px;
  padding: 15px 10px;
}
.zoompanflow aside .description {
  margin-bottom: 10px;
}
.zoompanflow aside button {
  display: block;
  margin-bottom: 5px;
}
.zoompanflow .reactflow-wrapper {
  flex-grow: 1;
}
@media screen and (min-width: 768px) {
  .zoompanflow {
    flex-direction: row;
  }
  .zoompanflow aside {
    max-width: 250px;
    width: 20%;
  }
}
