/* wrapper */
.reactflow-wrapper {
  height: 100%;
}

/* controls */
.react-flow__controls-button{
  border-color: #333;
  background: #555;
}

/* node */
.react-flow__node-basicNode .node{
  position: relative;
}

/* edge */
.react-flow__edge-path {
  stroke-width: 3;
}

/* title */
.node-title{
  padding: 6px 12px;
  background-color: #444;
  font-weight: bold;
}
.react-flow__node.selected .node-title{
  background-color: #555;
}

/* handles */
.node-ports{
  left: 0;
  width: 100%;
  display: flex;
}
.node-ports-top{
  top: 0;
}
.node-ports-bottom{
  bottom: 0;
}

.react-flow__handle{
  border-radius: 0;
  border: none;
  background: #aaa;
  width: 12px;
  height: 6px;
  left: 0;
  top: 0;
  position: relative;
  transform: none;
  margin-right: 2px;
  flex-shrink: 0;
}

.react-flow__handle:last-child{
  margin-right: 0;
}