@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,400;0,500;1,400;1,500&display=swap');

.df-app{
  font-family: 'Source Code Pro', Menlo, Monaco, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color-default);
  background-color: var(--block-bg-color);
}

.df-app input,
.df-app textarea{
  font-family: 'Source Code Pro', Menlo, Monaco, 'Courier New', monospace;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}