.cesium-df .cesium-viewer-geocoderContainer,
.cesium-df .cesium-sceneModePicker-wrapper{
  margin: 0;
}
.cesium-df .cesium-button {
  color: #fff;
  fill: #fff;
  background: var(--block-bg-color);
  border: 1px solid var(--block-bg-color);
  border-radius: 0;
  margin: 0;
  box-shadow: none;
}
.cesium-df .cesium-button svg{
  transform: scale(.7);
}
.cesium-df .cesium-button:focus {
  color: #fff;
  fill: #fff;
  border-color: var(--block-bg-color);
}
.cesium-df .cesium-button:hover {
  color: #000;
  fill: #000;
  background: var(--theme-color-orange);
  border-color: var(--block-bg-color);
  box-shadow: none;
}
.cesium-df .cesium-button:active {
  color: #000;
  fill: #000;
  background: var(--theme-color-orange);
  border-color: var(--block-bg-color);
}
.cesium-df .cesium-button-disabled,
.cesium-df .cesium-button-disabled:active,
.cesium-df .cesium-button-disabled:focus,
.cesium-df .cesium-button-disabled:hover,
.cesium-df .cesium-button:disabled {
  background: var(--block-bg-color);
  border-color: var(--block-bg-color);
  color: #666;
  fill: #666;
  box-shadow: none;
}
.cesium-df .cesium-performanceDisplay-defaultContainer{
  top: 41px;
  right: 5px;
  transform-origin: right top;
  transform: scale(.8);
}
.cesium-df .cesium-performanceDisplay {
  background-color: var(--block-bg-color);
  border-color: var(--block-bg-color);
  border-radius: 0;
}
.cesium-df .cesium-performanceDisplay-fps {
  color: #e52;
}
.cesium-df .cesium-performanceDisplay-ms {
  color: #ea4;
}

.cesium-df .cesium-animation-themeNormal {
  color: var(--block-bg-color);
}
.cesium-df .cesium-animation-themeHover {
  color: var(--theme-color-orange);
}
.cesium-df .cesium-animation-themeSelect {
  color: #000;
}
.cesium-df .cesium-animation-themeDisabled {
  color: #efefef;
}
.cesium-df .cesium-animation-themeKnob {
  color: #e1e2e3;
}
.cesium-df .cesium-animation-themePointer {
  color: var(--theme-color-orange);
}
.cesium-df .cesium-animation-shuttleRingPausePointer {
  fill: var(--theme-color-orange);
}
.cesium-df .cesium-animation-shuttleRingPointer{
  fill: #444;
}
.cesium-df .cesium-animation-themeSwoosh {
  color: #333;
}
.cesium-df .cesium-animation-themeSwooshHover {
  color: var(--theme-color-orange);
}
.cesium-df .cesium-animation-svgText {
  fill: #fff;
}
.cesium-df .cesium-animation-rectButton .cesium-animation-buttonPath {
  fill: #fff;
}
.cesium-df .cesium-animation-rectButton .cesium-animation-buttonMain {
  stroke: none;
  fill: var(--block-bg-color);
}
.cesium-df .cesium-animation-rectButton .cesium-animation-buttonGlow, 
.cesium-df .cesium-animation-buttonToggled .cesium-animation-buttonGlow {
  fill: var(--theme-color-orange);
  display: none;
}
.cesium-df .cesium-animation-buttonToggled .cesium-animation-buttonMain {
  stroke: none;
}
.cesium-df .cesium-animation-buttonMain{
  rx: 0;
  ry: 0;
}
.cesium-df
  .cesium-animation-rectButton:hover
  .cesium-animation-buttonMain {
  stroke: none;
  fill: var(--block-bg-color);
}
.cesium-df
  .cesium-animation-rectButton:hover
  .cesium-animation-buttonPath {
  fill: var(--theme-color-orange);
}
.cesium-df .cesium-animation-buttonToggled
  .cesium-animation-buttonPath {
  fill: var(--theme-color-orange);
}
.cesium-df
  .cesium-animation-buttonToggled:hover
  .cesium-animation-buttonGlow {
  fill: #fff;
}
.cesium-df
  .cesium-animation-buttonToggled:hover
  .cesium-animation-buttonMain {
  stroke: none;
}
.cesium-df
  .cesium-animation-rectButton:active
  .cesium-animation-buttonMain {
  fill: #000;
}
.cesium-df .cesium-animation-buttonDisabled .cesium-animation-buttonMain {
  stroke: none;
}
.cesium-df .cesium-animation-buttonDisabled .cesium-animation-buttonPath {
  fill: #818181;
}
.cesium-df .cesium-animation-shuttleRingBack {
  fill: var(--block-bg-color);
  fill-opacity: 0.5;
  stroke: none;
  stroke-width: 1.2;
}
.cesium-df .cesium-animation-shuttleRingSwoosh line {
  stroke: none;
}
.cesium-df .cesium-animation-knobOuter {
  stroke: #000;
  fill: var(--block-bg-color);
}
.cesium-df .cesium-animation-knobInner{
  fill: var(--block-bg-color);
}

.cesium-df .cesium-baseLayerPicker-itemIcon {
  border-color: #000;
  border-radius: 0;
}
.cesium-df .cesium-baseLayerPicker-dropDown {
  background-color: var(--block-bg-color);
  border: none;
  border-radius: 0;
  padding: 12px;
  width: 330px;
}
.cesium-df .cesium-baseLayerPicker-sectionTitle {
  color: #fff;
  font-weight: bold;
  margin-bottom: 12px;
}
.cesium-df .cesium-baseLayerPicker-categoryTitle{
  color: #aaa;
  font-weight: bold;
  margin-bottom: 2px;
  padding-left: 4px;
}
.cesium-df .cesium-baseLayerPicker-choices{
  border: none;
  margin-bottom: 24px;
}
.cesium-df .cesium-baseLayerPicker-itemLabel {
  color: #fff;
  font-weight: bold;
  padding: 6px 0;
}
.cesium-df
  .cesium-baseLayerPicker-item:hover
  .cesium-baseLayerPicker-itemIcon {
  border-color: var(--theme-color-orange);
  box-shadow: none;
}
.cesium-df
  .cesium-baseLayerPicker-selectedItem
  .cesium-baseLayerPicker-itemLabel {
  color: var(--theme-color-orange);
}
.cesium-df
  .cesium-baseLayerPicker-selectedItem
  .cesium-baseLayerPicker-itemIcon {
  border: solid 2px var(--theme-color-orange);
}

.cesium-df .cesium-widget-errorPanel {
  background: rgba(255, 255, 255, 1);
}
.cesium-df .cesium-widget-errorPanel-content {
  border: 1px solid #000;
  border-radius: 0;
  background-color: var(--block-bg-color);
  color: #fff;
}
.cesium-df .cesium-widget-errorPanel-header {
  color: var(--theme-color-pink);
}
.cesium-df .cesium-geocoder-input {
  border: none;
  background-color: var(--block-bg-color);
  color: var(--theme-color-orange);
  font-weight: bold;
}
.cesium-df .cesium-viewer-geocoderContainer:hover .cesium-geocoder-input {
  border-color: var(--theme-color-orange);
  box-shadow: none;
}
.cesium-df .cesium-geocoder-searchButton {
  background: none;
  fill: #fff;
}
.cesium-df .cesium-geocoder-searchButton svg{
  transform: scale(.7);
}
.cesium-df .cesium-geocoder-searchButton:hover {
  background: var(--theme-color-orange);
  fill: #000;
}

.cesium-df .cesium-timeline-bar {
  background: var(--block-bg-color);
  height: calc(1.7em + 1px);
}
.cesium-df .cesium-timeline-main{
  border-color: var(--block-bg-color);
}
.cesium-df .cesium-timeline-ticLabel {
  color: #fff;
  font-weight: bold;
}
.cesium-df .cesium-timeline-ticMain {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 1px;
  height: 50%;
  background: var(--theme-color-orange);
}
.cesium-df .cesium-timeline-ticSub {
  background: var(--theme-color-orange);
}

.cesium-df .cesium-navigation-help{
  border-radius: 0;
}
.cesium-df .cesium-navigation-help-instructions {
  border: 1px solid var(--block-bg-color);
  background-color: var(--block-bg-color);
  border-radius: 0;
  padding: 10px 0 20px 0;
}
.cesium-df .cesium-navigation-help-pan {
  color: #6ce;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.cesium-df .cesium-navigation-help-zoom {
  color: #65ec00;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.cesium-df .cesium-navigation-help-rotate {
  color: #eec722;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.cesium-df .cesium-navigation-help-tilt {
  color: #d800d8;
  font-weight: 700;
  font-size: 14px;
  margin-bottom: 5px;
}
.cesium-df .cesium-navigation-help-details {
  color: #fff;
  font-size: 12px;
}
.cesium-df .cesium-navigation-button {
  color: #222;
  border-top: 1px solid var(--block-bg-color);
  border-right: 1px solid var(--block-bg-color);
}
.cesium-df .cesium-navigation-button-selected {
  background-color: var(--theme-color-orange);
  border-radius: 0;
  font-weight: bold;
  border-color: var(--block-bg-color);
}
.cesium-df .cesium-navigation-button-unselected {
  background-color: var(--block-bg-color);
  border-color: var(--block-bg-color);
  font-weight: bold;
  border-radius: 0;
  color: #fff;
}
.cesium-df .cesium-navigation-button-unselected:hover {
  background-color: var(--theme-color-orange);
  color: #000;
}

/* credits */
.cesium-df .cesium-widget-credits,
.cesium-df .cesium-widget-credits a,
.cesium-df .cesium-widget-credits .cesium-widget-credits a{
  color: #222 !important;
  text-shadow: none !important;
  font-weight: bold !important;
  transition: all .25s ease;
}
.cesium-df .cesium-widget-credits:hover,
.cesium-df .cesium-widget-credits:hover a,
.cesium-df .cesium-widget-credits:hover .cesium-widget-credits a{
  color: #fff !important;
}
.cesium-df .cesium-credit-logoContainer{
  position: absolute;
  right: 5px;
  top: -30px;
}