/* -------------------------
output panel
----------------------------*/
.df-output-panel{
  position: relative;
  height: 40%;
  background-color: var(--output-bg-color);
  display: flex;
  flex-direction: column;
  flex-grow: 0;
}

.df-output-panel .df-block-content{
  display: flex;
  flex-grow: 1;
  overflow: auto;
  padding: 0;
}

.react-json-view{
  background: #1a1a1a !important;
  font-size: 13px;
  font-family: Menlo, Monaco, 'Courier New', monospace !important;
  padding: 10px;
}
