/* -------------------------
propery panel
----------------------------*/
.df-property-panel{
  width: 50%;
  
}

.df-block-content{
  color: #ccc;
}

.property-line{
  display: flex;
  align-items: top;
  min-height: 30px;
}
.property-line input{
  width: 100%;
  background-color: var(--block-input-bg-color);
  border: none;
  border-radius: 0;
  outline: none;
  color: #ccc;
  height: 24px;
  font-size: 12px;
}
.property-line textarea{
  width: 100%;
  background-color: var(--block-input-bg-color);
  border: none;
  border-radius: 0;
  outline: none;
  color: #ccc;
  height: 100px;
  padding: 5px 0;
  font-size: 12px;
}
.property-line input:disabled{
  background-color: var(--block-bg-color);
}
.property-name{
  width: 30%;
  flex-shrink: 0;
  height: 30px;
  display: flex;
  align-items: center;
}
.property-value{
  flex-grow: 0;
  max-width: 500px;
  display: flex;
  align-items: center;
}
.output-source{
  text-decoration: underline;
  cursor: pointer;
}