html,body{
  margin: 0;
}

.rf-eg-b{
  height: 100vh;
  background: #222;
  flex-direction: row;
  display: flex;
  --node-color-default: rgb(147, 221, 50);
  --node-color-input: rgb(50, 210, 221);
  --node-color-output: rgb(221, 190, 50);
}

.rf-eg-b .reactflow-wrapper {
  flex-grow: 1;
  height: 100%;
}

/* overwrite theme */
.rf-eg-b .react-flow__node-default {
  background: var(--node-color-default);
  border: none;
}
.rf-eg-b .react-flow__node-default .react-flow__handle{
  background: var(--node-color-default);
  border-color: #000;
}

.rf-eg-b .react-flow__node-input {
  background: var(--node-color-input);
  border: none;
}
.rf-eg-b .react-flow__node-input .react-flow__handle{
  background: var(--node-color-input);
  border-color: #000;
}

.rf-eg-b .react-flow__node-output {
  background: var(--node-color-output);
  border: none;
}
.rf-eg-b .react-flow__node-output .react-flow__handle{
  background: var(--node-color-output);
  border-color: #000;
}

.rf-eg-b .react-flow__node-default.selected, 
.rf-eg-b .react-flow__node-default.selected:hover,
.rf-eg-b .react-flow__node-input.selected, 
.rf-eg-b .react-flow__node-input.selected:hover,
.rf-eg-b .react-flow__node-output.selected, 
.rf-eg-b .react-flow__node-output.selected:hover {
  box-shadow: 0 0 0 1px #ffffff;
}

.rf-eg-b .react-flow__controls-button{
  background-color: #444;
  border-color: #000;
}
.rf-eg-b .react-flow__minimap{
  background-color: #444;
}


