
/* custom nodes */
.rf-eg-b .react-flow__node-numberInput{
  background: var(--node-color-input);
  border: none;
  font-size: 12px;
  border-radius: 3px;
  width: 150px;
}
.rf-eg-b .react-flow__node-numberInput .react-flow__handle{
  background: var(--node-color-input);
  border-color: #000;
}
.rf-eg-b .react-flow__node-numberInput.selected, 
.rf-eg-b .react-flow__node-numberInput.selected:hover {
  box-shadow: 0 0 0 1px #ffffff;
}

.rf-eg-b .react-flow__node-numberAdd{
  background: var(--node-color-default);
  border: none;
  font-size: 12px;
  border-radius: 3px;
  width: 150px;
}
.rf-eg-b .react-flow__node-numberAdd .react-flow__handle{
  background: var(--node-color-default);
  border-color: #000;
}
.rf-eg-b .react-flow__node-numberAdd.selected, 
.rf-eg-b .react-flow__node-numberAdd.selected:hover {
  box-shadow: 0 0 0 1px #ffffff;
}

/* custom node style */
.rf-eg-b .node-title{
  font-size: 12px;
  padding: 3px 10px;
  background-color: rgba(0,0,0,.5);
  color: #fff;
}

.rf-eg-b .node-content{
  padding: 5px 10px;
  font-size: 24px;
}

.rf-eg-b .node-run{
  font-size: 12px;
  padding: 3px 10px;
  background-color: rgba(0,0,100,.5);
  color: #fff;
  cursor: pointer;
}

.rf-eg-b input{
  width: 100%;
  border: none;
  outline: none;
  background: none;
  font-size: 24px;
}