.rf-eg-b aside{
  width: 20%;
  max-width: 180px;
  background: #252525;
  font-size: 12px;
  border-left: 1px solid #000;
}

.rf-eg-b list{
  list-style: none;
}

/* blocks */
.rf-eg-b .sidebar-block-title{
  padding: 5px 10px;
  color: #fff;
  border-top: 1px solid #000;
  border-bottom: 1px solid #000;
}
.rf-eg-b .sidebar-block-content{
  padding: 10px;
  color: #fff;
}

/* node list */
.rf-eg-b .node-list-block .dndnode {
  align-items: center;
  border: 1px solid #1a192b;
  border-radius: 2px;
  cursor: grab;
  display: flex;
  height: 20px;
  justify-content: center;
  padding: 4px;
  margin-bottom: 5px;
  background-color: var(--node-color-default);
  cursor: grab;
  color: #000;
}
.rf-eg-b .node-list-block .dndnode.input{
  background-color: var(--node-color-input);
}
.rf-eg-b .node-list-block .dndnode.output{
  background-color: var(--node-color-output);
}

/* property */
.rf-eg-b .property-block{
  min-height: 20vh;
}

.rf-eg-b .property-name{
  display: inline-block;
  width: 50%;
}