/* -------------------------
nodes panel
----------------------------*/
.df-nodes-panel{
  width: 50%;
}

.df-nodes-panel .df-block-content{
  display: flex;
}

.df-nodes-panel .node-ref{
  padding: 6px 12px;
  margin: 0 5px 5px 0;
  background-color: #333;
  cursor: pointer;
  font-weight: bold;
  flex-shrink: 0;
}

.df-nodes-panel .node-ref.Input{
  color: var(--theme-color-green);
}
.df-nodes-panel .node-ref.Ops{
  color: var(--theme-color-blue);
}